* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --square-size: 40px;
}



.maze-container {
    background-color: black;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table {
    background-color: white;
    border: 10px solid lightcyan;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
}


td {
    width: var(--square-size);
    height: var(--square-size);
    text-align: center;
    border: 1px solid silver;
    color: white;
}

.btn-container {
    margin-top: 10px;
}

button {
    border-radius: 5px;
    padding: 5px;
}

.current {
    text-decoration: underline;
}